@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(#273C75, #220A20) no-repeat;
  color: #F5F6FA;
    height: 100vh;
}

main{
    height: 100%;
}

ul{
    text-decoration: none;
    list-style-type: none;
}

a{
    color: #F5F6FA;
    text-decoration: none;
}


.hamburger-menu-password{
    display: none;
}

.password-navigation{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0 40px;
    align-items: center;
}

.logo-password{
    font-size: 25px;
    font-weight: bold;
    color: #F5F6FA;
}

.password-links ul{
    display: flex;
    cursor: pointer;
}

.password-links ul li{
    margin-right: 20px;
    cursor: pointer;
}

.password-search{
    margin: 20px 0;
    margin-top: 0;
}



.password-description{
    color: #F5F6FA;
    display: flex;
    text-align: left;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
}

.password-page-title{
    font-size: 25px;
}

.password-category, .password-level{
    padding-left: 80px;
    font-size: 20px;
    font-weight: bold;
}

.password-title{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-left: 80px;
    padding-right: 50px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.password-title a{
    padding-right: 10px;
}






.password-card{
  width: 80%;
  height: 400px;
  background: #192A56;
  display: flex;
  border-radius: 10px;
  position: relative;
}

.password-section{
    color: #F5F6FA;
    padding: 10px;
    margin-top: 20px;
    margin-left: 50px;
    font-size: 18px;
    font-weight: bold;
    width: 100%;
}

#current-label p, #new-label p, #confirm-label p{
    width: 200px;
}

.current-password, .new-password, .confirm-password{
    display: flex;
    margin-bottom: 20px;
}

.current-password input, .new-password input, .confirm-password input{
    width: 300px;
    height: 35px;
    border: none;
    border-radius: 10px;
    outline: none;
    background: #220A20;
}

.forgot-p{
    text-align: center;
    margin-top: 40px;
    text-decoration: underline;
}

.forgot-p a{
    color: #F5F6FA;
}

.password-submit{
    display: flex;
    justify-content: center;
}

.password-submit input{
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    color: #F5F6FA;
    background: #220A20;
    margin-top: 50px;
    text-align: center;
}

.password-submit input:hover{
    cursor: pointer;
}



.password-copyright{
    color: #F5F6FA;
    position: relative;
    bottom: 0;
}





/*         MEDIA QUERIES            */

/*              SMALL DEVICES               */
@media only screen and (min-width: 600px) and (max-width: 767px){
    .password-navigation{
        margin: 0 20px;
        padding: 10px;
    }
    .password-category, .password-level{
        padding-left: 30px;
    }
    .password-title{
        padding: 20px;
    }
    .password-section{
        margin: 20px 20px;
    }

    .current-password input, .new-password input, .confirm-password input{
        width: 250px;
    }
}


/*     EXTRA-SMALL DEVICES     */
@media only screen and (max-width: 599px){
    body{
        width: 100%;
        height: 100%;
    }

    .password-navigation{
        justify-content: flex-start;
        padding-left: 0;
    }
    div.password-links{ 
        display: none !important;
    }


    .logo-password{
        margin-left: 10px;
    }

    .hamburger-menu{
        display: flex;
    }

    .bm-burger-button {
        position: fixed;
        width: 25px;
        height: 20px;
        left: 10px;
        top: 30px;
        z-index: 0;
    }

    .bm-burger-bars {
        background: #F5F6FA;
    }

    .bm-cross{
        background: #F5F6FA;
    }

    .bm-cross-button {
        height: 24px;
        width: 24px;
    }

    .bm-menu-wrap {
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }

    .bm-menu{
        background: #273C75;
        font-size: 18px;
        padding: 5px;
    }

    .bm-item-list{
        padding-top: 50px;
        padding: 50px;
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 50%;
    }

    .password-category{
        padding-left: 20px;
    }

    .password-page-title{
        font-size: 22px;
    }

    .password-title{
        padding: 20px;
        padding-bottom: 10px;
        font-size: 18px;
        padding-right: 10px;
    }

    .password-section{
        margin: 20px 20px;
    }


    .password-copyright{
        margin-top: 50px;
    }

    .current-password input, .new-password input, .confirm-password input{
        width: 150px;
    }

    .current-password label, .new-password label, .confirm-password label{
        font-size: 16px;
        margin-top: 10px;
    }
}