@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(#273C75, #220A20) no-repeat;
  color: #F5F6FA;
  height: 100vh;
}

main{
    height: 100%;
}

ul{
    text-decoration: none;
    list-style-type: none;
}

.landing-navigation{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 0 40px;
    align-items: center;
}

.logo-landing{
    font-size: 25px;
    font-weight: bold;
}

.landing-links ul{
    display: flex;
    cursor: pointer;
}

.landing-links ul li{
    margin-right: 20px;
    cursor: pointer;
}

.landing-search{
    margin: 20px 0;
    margin-top: 0;
}

#searchLanding{
    height: 35px;
    border: none;
    border-radius: 15px 0 0 15px;
    background: rgba(34, 10, 32, 0.45);
    color: #F5F6FA;
}

#searchLanding:focus{
    outline: none;
}

.search-btn{
    height: 35px;
    border: none;
    border-radius: 0 15px 15px 0;
    background: rgba(34, 10, 32, 0.45);
    color: #F5F6FA;
    width: 30px;
    cursor: pointer;
}

FontAwesomeIcon{
    margin-right: 10px;
}

.landing-para{
    width: 700px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}

.categories-title{
    margin-bottom: 10px;
    color: #E859FF;
    font-size: 20px;
    font-weight: bold;
}

LandingTiles{
    width: 50px;
    height: 150px;
    display: flex;
    flex-direction: row;
}

.whole-tiles{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.individual-tiles{
    width: 100%;
    display: flex;
}

.individual-tiles div {
    margin-right: 40px;
}

.categories-tiles{
    margin-top: 100px;
}

.category-image{
    display: flex;
}

.category-image img{
    width: 100%;
    height: 200px;
}

.category-label{
    margin-top: 10px;
    color: #F5F6FA;
    font-weight: bold;
}

.copyright-landing{
    color: #F5F6FA;
    position: relative;
    bottom: 0;
    margin-top: 10px;
}